 /*  child combinator = ">" */

 .title > p{
     color: rebeccapurple;
 }

 

/* adjacent selector = "+" */

.randoms h2 + p {
    color: magenta;
}

/*attribute selector = "[]" */
/*attribute = additional information about 
a tag in html id/class, you can get really specific
~= <-- it can appear anywhere in the attribute
$= <-- ends in stg
^= <-- starts with stg
*/

span[class]{
    color: green;
}

span[class="brass"]{
    font-size: 36px; 
}

/*pseudo selector
extension on selector
selector:keyword{}
*/

.randoms:hover{
    background: purple;
}

/*hover, active, visited --> links & 
buttons & everything interactive*/

a:hover {
     color: red 
}

a:active {
     color: orange;
} 

a:visited {
     color: purple;
}


 /*first & last child selector*/

article p:first-child {
   font-weight: bold;
}

article p:last-child {
    color: red;
}

/*first and last of type
article p:first-of-type {
   font-weight: bold;
}
*/

/*nth child*/
li:nth-child(1), li:nth-child(6) {
     font-weight: bold;
}

li:nth-child(even) {
    background: red;
}

li:nth-child(odd) {
    background: yellow;
}

/*nth type selectors
article:nth-of-type() {}
*/


/*combined selector
GOOD FOR WHEN YOU ARE MAKING FORMS*/
article.combined {
    color: rgb(237, 28, 36);
}



/*universal selector*/
* {}

/*box model order
margin
border
padding
width
height
*/

/*block level elements ---> take up whole space horizotally*/