<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Add Assignee</title>
    <link rel="stylesheet" href="/bootstrap.min.css"/>
    <link rel="stylesheet" href="/style.css"/>
    <meta charset="UTF-8"/>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1 class="panel-title">Add new Assignee</h1>
    </div>
<form th:action="@{/assignee/}" method="post" th:object="${assignee}">
    <input class="form-control" type="text" value="title" th:field="*{name}" placeholder="Name"/>
    <input class="form-control" type="text" value="title" th:field="*{email}" placeholder="Email"/>
    <button class="btn btn-danger" type="submit">Add</button>
</form>

</div>
</body>
</html>