body{
    font-family: Calibri;
}


.form-control{
    width:20%;
    float: left;
    margin-right: 2px;
}

.btn-success{
    margin-right: 2px;
    float: right;
}

tbody.btn {
    display: block;
    margin: auto;
}