div {
    width: 310px;
    border: 2px solid black;
}

p {
    width: 300px;
    border-bottom: 2px solid black;
    margin: 0px;
    padding: 5px;
}

p:last-of-type {
    border-bottom: 0;
}
p:hover {
    background: rgb(236, 104, 66)
}