body {
    width: 300px;
}

[class="asteroid big"], [class="asteroid b329 big"] {
    color: blue;
}

[class="asteroid"], [class="asteroid b326"] {
    border: 1px solid green;
}

[class="asteroid"], [class="asteroid b326"], [class="asteroid b329 big"] {
    font-weight: bold;
}

[class="asteroid big"] {
    background: yellow;
}