p {
    height: 40px;
    width: 40px;
    display: inline-block;
    margin: 3px;
    align: center;
    position: relative;
    top: 12px;
    left: 12px;
}

div {
    height: 70px;
    width: 520px;
    border: 2px solid rgb(66, 133, 244);
}

.first > p {
   background: rgb(66, 133, 244)
}

.second > p {
    background: rgb(100,53,121)
 }

 .second {
    background: rgb(255,99,71);
    margin-top: 5px;
 }