* {
    border:  0;
}

body {
    background-color: white;
}

.main_box {
    box-sizing: border-box;
    background-color:  #DCD6CD;
    width: 680px;
    height: 1000px;
    position: absolute;
    left: 25%;
}

.main_box > div { 
    box-sizing: border-box;
    margin-top: 20px;
    position: relative; 
    float: left;
}

/*Profil bar*/
.title {
    height: 50px;
    width: 680px;
}


.input_1, .input_2 {
    height: 543px;
    width: 340px; 
    box-sizing: border-box;  
    padding: 28px; 
} 

.input_3 {
    width: 680px;
    height: 230px;
    padding-left: 28px;
    padding-top: 0px;

}

.birthbox, .genderbox {
    height: 50px;
    width: 143px;
    display: table-cell;
    padding-top: 10px;
    box-sizing: border-box;
}

.brands {
    margin-top: 15px;
}


/*first three titles + small titles*/

p, h1, h2, label {  
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}

h1 {
    margin: 0px;
    padding-left: 28px; 
}

h2 {
    color: white;
    background-color: #938C97;
    border-radius: 2px;
    width: 286px;
    height: 40px;
    padding-left: 10px;
    padding-top: 8px;
    box-sizing: border-box;
    font-weight: 200;
    font-size: 20px;
}

p {
    font-size: 12px;
    color: #453D5DC;
    font-weight: 900;
    padding-top: 10px;
}

label {
    font-size: 14px;
}

/*input fields*/

.input_2 > input, input[id="name"], input[type="date"] {
    width: 286px;
    border-radius: 2px;
    height: 40px;
    padding-top: 0px;
}

/*input field for birth date*/

input[type="date"] {
    width: 120px;
    margin-top: 10px;
}

.birthbox > p, .genderbox > p {
    margin: 0px;
    margin-top: 0px;
}

.genderbox {
    padding-left: 8px;
}

/*male - female buttons*/

.genderbox label:nth-of-type(2) {
    padding-left: 28px;
}

.genderbox input:nth-of-type(2) {
    position: relative;
    left: 27px;
}

/*brands list*/

.brandlist {
   columns: 2;
}

span {
    color: gray;
}

/*text box*/

.input_3 > p {
    margin: 0;
    padding-top: 0;
}

#msg {
    height: 160px;
    width:  620px;
}

.checkbox {
    display: inline;
}