* {
    border:  0;
}

body {
    background-color: white;
}

.main_box {
    box-sizing: border-box;
    background-color:  #DCD6CD;
    width: 680px;
    height: 900px;
    position: absolute;
    left: 25%;
}

.main_box > div { 
    box-sizing: border-box;
    margin-top: 20px;
    position: relative; 
    float: left;
}

/*Profil bar*/
.title {
    height: 50px;
    width: 680px;
}


.input_1, .input_2 {
    height: 543px;
    width: 340px; 
    box-sizing: border-box;  
    padding: 28px; 
} 

.input_3 {
    width: 680px;
    height: 230px;
    padding-left: 28px;
    padding-top: 0px;

}




/*first three titles + small titles*/

p, h1, h2 {  
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}

h1 {
    margin: 0px;
    padding-left: 28px; 
}

h2 {
    color: white;
    background-color: #938C97;
    border-radius: 2px;
    width: 286px;
    height: 40px;
    padding-left: 10px;
    padding-top: 8px;
    box-sizing: border-box;
    font-weight: 200;
    font-size: 20px;
}

p {
    font-size: 12px;
    color: #453D5DC;
    font-weight: 900;
    padding-top: 10px;
}

/*input fields*/

input {
    width: 286px;
    border-radius: 2px;
    height: 40px;
}

/*input field for birth date*/
input[type="date"] {
    width: 140px;
}

/*male - female buttons*/

/*brands list*/

/*text box*/

#msg {
    height: 160px;
    width:  620px;
}

/* ul.checkbox li { 
    border: 1px transparent solid; 
    display:inline-block;
}


ul.checkbox li, .checkbox label {
    height: 20px;
    width: 80px;
    float: left;
}

.checkbox input {
    height: 20px;
    width: 20px;
} */

