<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
    <h2>List of Bank Accounts in SimBank</h2>

    <table width="500" border="1">
       <tr >
           <th>Id</th>
           <th>Name</th>
           <th>Balance</th>
           <th>Currency</th>
           <th>Animal Type</th>
           <th>Royalty?</th>
       </tr>
       <tr th:each="account, iterStat: ${accounts}">
           <td align="center" th:text="${iterStat.count}"></td>
           <td align="center" th:text="${account.name}"></td>
           <td align="center" th:text="${#numbers.formatDecimal(account.balance, 0, 2)}"></td>
           <td align="center" th:text="${account.currency}"></td>
           <td align="center" th:text="${account.animalType}"></td>
           <td align="center" th:text="(${account.name} == 'Simba')? 'yes' : 'no'"></td>
       </tr>
    </table>
</body>
</html>