<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
    <h2>List of Bank Accounts in SimBank</h2>

    <table width="800" border="1">
       <tr >
           <th>Id</th>
           <th>Name</th>
           <th>Balance</th>
           <th>Currency</th>
           <th>Animal Type</th>
           <th>Royalty?</th>
           <th>Who's side is the owner on?</th>
       </tr>
       <tr th:style= "${account.isKing()} == true? 'color: red'" th:each="account, iterStat: ${accounts}" align="center" >
           <td th:text="${iterStat.count}"></td>
           <td th:text="${account.name}"></td>
           <td th:text="${#numbers.formatDecimal(account.balance, 0, 2)}"></td>
           <td th:text="${account.currency}"></td>
           <td th:text="${account.animalType}"></td>
           <td th:text="${account.isKing()} == true? 'yes' : 'no'"></td>
           <td th:text="${account.good} == true? 'Good One' : 'Bad Guy'"></td>
       </tr>
    </table>
</body>
</html>